{% extends "layout.html" %}

{% block title %}Login de usuário{% endblock %}

{% block content %}
    <div class="container">
        <h3>Login de usuário</h3>
        {% if message %}
            <div class="alert alert-primary">
                {{ message }}
            </div>
        {% endif %}
        <form action="/login/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">E-mail</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Entre com o e-mail">
            </div>
            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" class="form-control" id="password" name="password"
                       placeholder="Entre com a senha">
            </div>
            <button class="btn btn-primary">Entrar</button>
        </form>
    </div>
{% endblock %}